img {
  width: 50%;
  padding: 40px;
  border-radius: 50%;
  border: 5px solid pink;
}

fieldset {
  font-size: 30px;

}

div {
  text-align: center;
}

button {
  margin: auto;
  text-align: center;
  font-size: 2vw;
}

table, th, td {
    border: 1px solid black;
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding-bottom: auto;
    font-size: 20px;
}

section {
  background-color: white;
  background-size: 200%;
  border-radius: 10%;
  text-align: left;
  background-color: white;
  border-radius: 10%;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
  padding: 40px;
  font-size: 25px;
}

ul {
  background-color: white;
  background-size: 200%;
  border-radius: 10%;
  text-align: left;
  background-color: white;
  border-radius: 10%;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  padding: 40px;
  font-size: 12px;
}

body {
  background: url('https://images1.pixlis.com/background-image-horizontal-lines-and-stripes-seamless-tileable-deep-pink-salmon-22he73.png') repeat;
  font-family: arial, verdana;
}

h1, h2 {
  font-family: 'Griffy', cursive;
  font-size: 20px;
  border: 5px solid black;
  margin: 5%;
  text-align: center;
  font-size: 5vw;
  border-radius: 20%;
}

footer, nav.Favorites {
  font-family: inherit;
  text-align: center;
}
